# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc

# Virtual environment
.venv/
venv/
ENV/

# Flask instance folder
instance/
*.db
*.sqlite3

# Environment variables
.env
.env.*

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Mac / Linux / Windows system files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
